

/* common style */


/* nav style */
header{
    margin-bottom: 116px;
    background-color: lightblue;
    background-image: url(../Assets/Hero-bg.png);
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 127px 158px 127px;
    padding:50px 0px 50px 0px ;


}
    
.nav-title{
 color:#4E47FF;
 font-size: 34px;
 width: 99px;
 height: 51px;
}
.nav-button{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius:16px;
    padding: 12px 36px;
    cursor: pointer;
    width:132px ;
    height: 48px;
    
    
} 
.nav-button:hover{
    background-color:white;
    color: #4E47FF;
    border: 1px solid #4E47FF;
    
}

/* banner style */


.banner-title{
    text-align: center;
    margin:237px 245px 237px 245px  ;
}
.banner-heading{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 85px;

}
.banner-button{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius:16px;
    padding: 12px 32px;
    cursor: pointer;
    width:166px ;
    height: 48px;
    
}
.banner-button:hover{
    background-color:white;
    color: #4E47FF;
    border: 1px solid #4E47FF;
}
main{
    max-width: 1140px;
    margin: 0 auto;
} 
/* action style */

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:62px ;
    padding-bottom: 62px;
    margin-bottom: 116px;
  
}
.action-heading{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    }
    .action-description{
        font-size:24px ;
        color:rgba(37, 36, 50, 0.5);
}
.action-button{
     background-color: #4E47FF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius:16px;
    padding: 12px 36px;
    cursor: pointer;
    width:202px ;
    height: 48px;
    
}
.action-button:hover{
    background-color:white;
    color: #4E47FF;
    border: 1px solid #4E47FF;
}
.action-img{
    width:403px;
    height: 328px;
    border-radius: 30px;
    margin-left: 220px;

}
/* user style */



.users{
    background-color:rgba(78, 71, 255, 0.1) ;
    margin-bottom: 137px;
    border-radius:20px ;
    padding: 50px 80px;
}
.users-heading{
    font-size:38px ;
    font-weight: bold;
    text-align: center;
    color: #252432;
    margin-bottom: 40px;
}
.users-contrainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-color{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
}
.user-description{
     color:rgba(0, 0, 0, 0.5) ;
     font-size: 20px;
}

/* challenge style */
.challenge{
    max-width: 1140px;
}
.challenge-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}
.challenge-contrainer{
    display: flex;
    justify-content: space-between;
    gap:20px ;
}
.challenge-card{
    background-color: rgba(242, 237, 237, 1);
    padding: 24px;
}
.img-challenge{
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;

}


/* form style */
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 39px;
    padding: 71px 0px;
}
.form-header{
  font-size: 97px;  
  font-weight: bold;
  color:rgba(0, 0, 0, 1) ;
  margin-right:115px ;
}
input[type=email]{
    width: 497px;
    height: 70px;
    color: rgba(255, 255, 255, 1);
    border-color:rgba(0, 0, 0, 0.1);
}
input[type=text]{
     width: 497px;
    height: 70px;
    color: rgba(255, 255, 255, 1);
    border-color:rgba(0, 0, 0, 0.1);
}
textarea{
     width: 497px;
    height: 70px;
    color: rgba(255, 255, 255, 1);
    border-color:rgba(0, 0, 0, 0.1);
}
.get-button{
     background-color: #4E47FF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius:16px;
    padding: 19px 100px;
    cursor: pointer;
    width:499px ;
    height: 62px;
    
}
.get-button:hover{
    background-color:white;
    color: #4E47FF;
    border: 1px solid #4E47FF;
}
/* footer style */
.footer{
    text-align: center;
    max-width: 531px;
    margin: 0px auto;
    
   
}
 
.footer-title{
    
  color: #4E47FF; 
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 0px;

  
}
.footer-description{
    color: rgba(137, 135, 161, 1);
    text-align: center;
}
ul{
    display: flex;
    justify-content: space-around;


}
ul li{
    list-style: none;
}
ul a{
    text-decoration:none;
     color: rgba(137, 135, 161, 1);
     
   

}
ul a:hover{
    background-color:rgba(78, 71, 255, 0.1) ;
}







